<div class="socialIcons">
    <a class="icons" href="https://www.instagram.com/_apollonox_/"><i class="fab fa-instagram"></i></a>
    <a class="icons" href="https://github.com/Rajguru-Aditya"><i class="fab fa-github"></i></a>
</div>